<div id="in-the-news" class="frame">
{% include 'page-header-illustration' %}



    <div class="wrapper">

        <div id="content">

            <div class="main bit-66 blog-entries">
            {% paginate blog.articles by 5 %}
                
                <ul>
                    {% for article in blogs.news.articles %}
                        {% include 'blogroll' %}  
                    {% endfor %}
                </ul>
                
            {% endpaginate %} 
            </div><!--.main-->
  
            <div class="sidebar bit-3">
                {% include 'insta' %}
            </div><!--.sidebar-->

        </div><!--#content-->
  
</div><!--WRAPPER-->
</div><!--BLOG-->