<div id="container">

	<div id="header" class="frame">
		<div class="wrapper">
		<a href="#"><img src="http://cdn.soundfreaq.com/brand/sfq-logo-dark.svg"></a>
		</div>
	</div><!--HEADER-->


	<div class="hero">
		<div class="frame wrapper">
			<div class="bit-2">
				<h1>Pocket Kick Available in Gold, Platinum, and Black</h1>
				<h3>This is just some dumb text.</h3>
				<h1>Double Spot is available in a limited Firehouse Red</h1>
			</div>
			<div class="bit-2"></div>
		</div>
	</div><!--HERO-->

	<div class="frame wrapper">	
		<div class="bit-3"><p>Column 2</p></div>
		<div class="bit-3"><p>Column 3</p></div>
	</div>

</div><!--CONTAINER-->