<div id="in-the-news" class="frame blog">
{% include 'page-header-illustration' %}

    <div class="wrapper">

        <div id="content">

            <div class="main bit-66 blog-entries">
                    
                <ul>
                    {% for article in blogs.news.articles %}
                        {% include 'blogroll' %}  
                    {% endfor %}
                </ul>
                    
            </div><!--.main-->
      
            <div class="sidebar bit-3">
                {% include 'awards-sidebar' %}
            </div><!--.sidebar-->

        </div><!--#content-->
  
    </div><!--WRAPPER-->

</div><!--BLOG-->