<div class="frame" id="happy-listening">  
    
    <div class="wrapper">
    	<div class="article">
    		<div class="header"><img src="http://cdn.soundfreaq.com/brand/type-wthl.svg"></div>
    		{{ page.content }}
    	</div>
    </div><!--WRAPPER-->

</div><!--COMPARE PAGE-->