<div class="frame" id="product-page">  
        <span class="product-name"><h2>{{ product.title }}</h2></span>

        <div class="product-slider">
            {% for image in product.images %}
                {% if image.alt == 'slide' %}
                    <div style="background-image: url('{{ image | product_img_url: 'original' }}')"></div>
                {% endif %}
            {% endfor %}    
        </div>

    <div class="wrapper">

    </div><!--WRAPPER-->
</div><!--PRODUCT PAGE-->