<div class="frame coming-soon" id="product-page">
    <span class="product-name"><h2>{{ product.title }}</h2></span>
    <div class="wrapper">

    <h1>You inquisitive little sneak.</h1>
    <p>We're still working on getting the details ready for this page. However; if you're press and would like to know more about {{product.title}}, Contact Natalie Yallouz here: <a href="mailto:press@soundfreaq.com">press@soundfreaq.com</a></p>
    <img src="{{ product.featured_image | product_img_url: 'original' }}">
        
    </div><!--WRAPPER-->
</div><!--PRODUCT PAGE-->