<div class="price intl">	
{% if product.compare_at_price > variant.price %}
	<span class="sale">{{ variant.price | money }}</span>
	<span class="orig">{{ product.compare_at_price_max | money }}</span>
{% else %}
	<span>{% if variant.price == 0 %}FREE{% else %}{{variant.price | money }}{% endif %}</span>
{% endif %}
</div>