

<div id="product-image-gallery">
{% for image in product.images %}
    {% if image.alt contains 'gallery' %}
    	<a href="{{ image | product_img_url: 'original' }}">
    		<img src="{{ image | product_img_url: 'original' }}">
    	</a>
    {% endif %}
{% endfor %}
</div><!--#product-image-gallery-->