<div id="product-image-gallery">
    <a href="http://cdn.soundfreaq.com/products/soundrise/webgallery/01.jpg"><img src="http://cdn.soundfreaq.com/products/soundrise/webgallery/01.jpg"></a>
    <a href="http://cdn.soundfreaq.com/products/soundrise/webgallery/02.jpg"><img src="http://cdn.soundfreaq.com/products/soundrise/webgallery/02.jpg"></a>
</div>