<div id="product-page-scene-illustrations" class="frame">
	<div class="bit-1" style="background: url('http://cdn.soundfreaq.com/brand/scenes/bedroom.jpg') no-repeat center;">
		<div class="box">
			<div class="bit-2">

			</div>
			<div class="bit-2">

			</div>
		</div>
	</div>
</div><!--#product-page-scene-illustrations-->