<ul id="insta" class="socialfeed">
	<h2>Instagram</h2>
</ul>


<div id="facebook-like">
<h2>Facebook</h2>
<div class="fb-like" data-href="https://facebook.com/soundfreaq" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
</div>

<ul id="twitter" class="socialfeed">
	<h2>Twitter</h2>
	<a href="http://www.twitter.com/soundfreaq" target="_blank">follow on twitter</a>
	
	<a class="twitter-timeline" data-tweet-limit="3"  data-chrome="nofooter transparent noscrollbar noheader" href="https://twitter.com/Soundfreaq" data-widget-id="495299094697361410"></a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</ul>